{% extends 'base.html '%}
{% block content %}
<div class="container px-6 mx-auto grid">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Dashboard
  </h2>

  <!-- Cards -->
  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
          <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path>
        </svg>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Jami keshbek foydalanuvchilari
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          {{ customer_count }}
        </p>
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div
        class="p-3 mr-4 flex align-center justify-center text-orange-500 bg-orange-100 rounded-full w-[60px] h-[60px] dark:text-orange-100 dark:bg-orange-500">
        <i class="fa-solid fa-box  text-2xl"></i>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Jami qutilar
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          <span class="number">{{box_count}}</span> ta
        </p>
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd"
            d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Kirim
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          <span class="number">{{incomes}} </span> so'm
        </p>
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div
        class="p-3 mr-4 flex align-center justify-center text-orange-500 bg-orange-100 rounded-full w-[60px] h-[60px] dark:text-orange-100 dark:bg-orange-500">
        <div>
          <i class="fa-regular fa-money-from-bracket fa-xl"></i>
        </div>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Jami yechilgan so'mma
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
          <span class="number">{{takemoney}}</span> so'm
        </p>
      </div>
    </div>

  </div>


  <!-- Charts -->
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Qurilmalar
  </h2>

  <div class="grid gap-6 mb-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 ">

    {% for box in boxes %}
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
      <center>
        <br>
        <h1 class="text-4xl text-green-500">{{box.title}}</h1>
      </center>
      <br>
      <h2 class="text-2xl ml-[30px] dark:text-white">Songi amallar</h2>
      <ul class="m-5 text-2xl">
        <li class="m-1 dark:text-white"><strong class="text-purple-600">Kunlik tushum:</strong>
          <span class="number">{{box.income.last.amount}}</span>  </li>
        <li class="m-1 dark:text-white"><strong class="text-purple-600">Pul yechildi:</strong>
          <span class="number">{{box.takemoney.last.amount}}</span> </li>
        <li class="m-1 dark:text-white"><strong class="text-purple-600">Qurilmadagi summa:</strong> <span class="number">{{box.cash}}</span> </li>
      </ul>
      <br>
      <div class="flex flex-row justify-between flex-wrap mb-8 space-y-4 md:flex-row md:items-end md:space-x-4">
        <a href="{% url 'common:chart' box.token %}"
          class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
          <span>Statistika</span>
          <svg class="w-5 h-5 ml-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
            <path d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
          </svg>
        </a>
        <a href="{% url 'common:withdrop' box.token %}"
          class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-purple">
          <span>Pul yecish</span>
          <i class="fa-solid fa-money-bill-transfer text-xl mx-1"></i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Statistika
  </h2>
  <div class="grid gap-6 mb-8 sm:grid-cols-1 md:grid-cols-2">
    <canvas id="line_c"></canvas>
  </div>
  <script>
     const lineConfig = {
  type: 'line',
  data: {
    labels: {{date|safe}},
    datasets: [
      {
        label: 'Daromad',
        backgroundColor: '#0694a2',
        borderColor: '#0694a2',
        data: {{value|safe}},
        fill: false,
        pointRadius: 5,
        tension: 0.4,
        hoverRadius: 10,
      },
    ],
  },
  options: {
    responsive: true,

    legend: {
      display: false,
    },
    tooltips: {
      mode: 'index',
      intersect: false,
    },
    hover: {
      mode: 'nearest',
      intersect: true,
    },
    scales: {
      x: {
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Month',
        },
      },
      y: {
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Value',
        },
      },
    },
  },
}
const lineCtx = document.getElementById('line_c')
window.myLine = new Chart(lineCtx, lineConfig)
  </script>

</div>

{% endblock %}