{% extends 'base.html '%}
{% block content %}
<div class="container px-6 mx-auto grid">
  <h2 class="my-6 text-4xl font-semibold text-gray-700 dark:text-gray-200">
    Sozlamalar
  </h2>

  <div class="grid gap-1 mb-8">
    <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
        Pul Tafsiloti
      </h4>
      <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
